<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Account Creation</title>

</head>
<body >
	<div class="container-fluid">
		<div style="padding-top:5px" class="mainbox col-md-6">
			<div class="panel panel-info" >
				<div class="panel-heading">
					<div class="panel-title">Create Account</div>

				</div>

				<div style="padding-top:5px" class="panel-body" >


					<form id="accountform" method="post"  action="addaccount" class="form-horizontal">

						<div style="margin-bottom: 5px" class="col-xs-12 from-group">
							<label for="groupname" id="gname"><u>G</u>roup Name :</label>
							<select class = "form-control gsselect" id="groupname"  name = "groupname" required data-msg="Please select a group" accesskey="g">
								<option value="" disabled selected hidden>Select Group</option>
								{% for grps in gkresult %}
								<option value="{{grps['groupcode']}}">{{grps["groupname"]}}</option>
								{% endfor %}
							</select>
							<br/>
							<label for="subgroupname" id="sname">Sub-Group <u>N</u>ame :</label>
							<select class = "form-control gsselect" id="subgroupname" name="subgroupname" required data-msg="Please select a sub-group" accesskey="n">
								<option value="" disabled selected hidden>Select Sub-Group</option>
							</select>
							<br/>
							<div id="nsgp" style="margin-bottom: 25px" class="input-group">
								<label for="newsubgroup" id="newsgrp">Sub-Group Name :</label>
								<input type="text" id="newsubgroup" class="form-control" name="newsubgroup" placeholder="New Sub-Group Name" required data-msg="Please enter sub-group name" ></input>
							</div>

							<label> <input type="checkbox" id="maccounts" accesskey="m"> Create <u>M</u>ultiple Accounts</label>
							<br/>
							<label for="accountname" id="accname"><u>A</u>ccount Name :</label>
							<input type="text" id="accountname" class="form-control" name="accountname" required data-msg="Please enter account name" accesskey="a"></input>
							<br/>
							<label for="openbal" id="obal"><u>O</u>pening Balance :</label>
							<input id="openbal" name="openbal" value="0.00" class=" form-control" type="text" placeholder="0.00" accesskey="o"/>
							<br/>
							<button type="submit" class="btn btn-primary" id="submit" name="submit" accesskey="s"><u>S</u>ubmit</button>
							<button id="reset" class="btn btn-danger" accesskey="r"><u>R</u>eset</button>

						</div>
					</form>
				</div>
			</div>
		</div>
		<div style="padding-top:5px" class="col-md-6" id="baltbl">
			<table class="table table-striped">
				<thead>
					<tr class="success">
						<th>{{baltbl[0]}}</th>
					</tr>
					<tr class="info">
						<th>Group Name</th>
						<th>No. of accounts</th>
						<th>Group Balance</th>
					</tr>
				</thead>
				<tbody>
					{% for i in range(1,5) %}
					<tr>
						<td>{{baltbl[i]["groupname"]}}</td>
						<td align="right">{{baltbl[i]["numberofaccounts"]}}</td>
						<td align="right">{{baltbl[i]["groupbalance"]}}</td>
					</tr>
					{% endfor %}
					<tr class="info">
						<th>Total</th>
						<th></th>
						<td align="right"><b>{{baltbl[5]["Total"]}}</b></td>
					</tr>
				</tbody>
			</table>
			<table class="table table-striped">
				<thead>
					<tr class="success">
						<th >{{baltbl[6]}}</th>
					</tr>
					<tr class="info">
						<th>Group Name</th>
						<th>No. of accounts</th>
						<th>Group Balance</th>
					</tr>
				</thead>
				<tbody>
					{% for i in range(7,((baltbl|length)-2)) %}
					<tr>
						<td>{{baltbl[i]["groupname"]}}</td>
						<td align="right">{{baltbl[i]["numberofaccounts"]}}</td>
						<td align="right">{{baltbl[i]["groupbalance"]}}</td>
					</tr>
					{% endfor %}
					<tr class="info">
						<th>Total</th>
						<th></th>
						<td align="right"><b>{{baltbl[((baltbl|length)-2)]["Total"]}}</b></td>
					</tr>
					<tr class="info">
						<th>Difference in Total Balance</th>
						<th></th>
						<td align="right"><b>{{baltbl[((baltbl|length)-1)]["Difference in balance"]}}</b></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/jquery.validate.min.js')}}"></script>
	<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/createaccount.js')}}"></script>
</body>
</html>
